<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/test/test1" method="post">
    <textarea style="width: 98%;" rows="30" name="json">
{
    "header":{
        "token":"",
        "uid":"",
        "version":"2",
        "time":"2018-12-11 16:14:40:713"
    },
    "code":10000,
    "message":"成功",
    "logs":[
        {
            "logId":0,
            "transactionAmount":"5.00",
            "optType":15,
            "message":"me",
            "userId":"2018050412392376226000659",
            "createDate":"2018-12-10 21:14:55",
            "accountOrderId":"201812102114555199050679",
            "tradeCode":"_",
            "tradeMessage":"aa",
            "schameType":"0",
            "showDate":"1",
            "walletType":1,
            "balanceBefore":0,
            "balanceAfter":0,
            "balanceEnvelope":0,
            "balancePrize":0,
            "balanceRecharge":0,
            "balancePoint":33032,
            "balance":0
        },
        {
            "logId":0,
            "transactionAmount":"1980.00",
            "optType":2,
            "message":"mess",
            "userId":"2018050412392376226000659",
            "createDate":"2018-12-09 17:48:45",
            "accountOrderId":"201812091748384669014639",
            "tradeCode":"2018120917483847231722797",
            "tradeMessage":"aa",
            "schameType":"5",
            "showDate":"1",
            "walletType":5,
            "balanceBefore":0,
            "balanceAfter":0,
            "balanceEnvelope":0,
            "balancePrize":0,
            "balanceRecharge":0,
            "balancePoint":null,
            "balance":0
        }
    ],
    "isEnd":false
}
    </textarea>
    <input type="submit" value="提交"/>
    <p th:text="${secu}">11111111</p>
</form>
</body>
</html>